<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
  <main> 
      <h1>Error404: Page not found! </h1>
      <p>This page was not found, either it does not exist or you may have typed the wrong address</p>
  </main>
<%- include('includes/end.ejs') %>