<header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item ">
                    <a  
                    href='/' 
                    class="<%= path === '/' ? 'active' : '' %>">
                <div class="main-header__item-underline">
                    
                    User Form
                </div>
            </a>
            </li>
            <li class="main-header__item">
                
                <a 
                href='/users'  
                class="<%= path === '/users' ? 'active' : '' %>">
                <div class="main-header__item-underline">
                User Names
                </div>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</header> 
