<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body> 
    <header class="main-header">
        <div class="container main-header_flex-layout">
            <h3 class="main-header__h3-logo">Logo<span>.</span></h3>
            <nav class="main-header__nav">
                <ul class="main-header__list-items main-header_flex-layout">
                    <li class="main-header__item"><a href="/">Home</a></li>
                    <li class="main-header__item" ><a href="/users">Users</a></li>
                </ul>
            </nav>
        </div>
    </header>
  
    <main class="main-body" >
        <section class="hero-section">
            <div class="container">
                <h1 class="main-body__h1-title">Users Page</h1>
                <p>User stuff goes here...</p>
            </div>
        </section>
    </main>
</body>

</html>